@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');


html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}

.divider {
    display: flex; /* Use flexbox to center the hr */
    justify-content: center; /* Center horizontally */
    margin: 20px 0; /* Spacing around the divider */
}

.divider hr {
    border: none; /* Remove default border */
    height: 2px; /* Height of the divider */
    background-color: #ccc; /* Color of the divider */
    width: 50%; /* Set custom width */
}