@import "tailwindcss";

.divider {
    display: flex; /* Use flexbox to center the hr */
    justify-content: center; /* Center horizontally */
    margin: 20px 0; /* Spacing around the divider */
}

.divider hr {
    border: none; /* Remove default border */
    height: 2px; /* Height of the divider */
    background-color: #ccc; /* Color of the divider */
    width: 50%; /* Set custom width */
}