---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  	<div class="container mx-auto">

    <main class="">
  <section class="h-screen bg-red-400 flex items-center justify-center">Section 1</section>
  <section class="h-screen bg-orange-300 flex items-center justify-center">Section 2</section>
  <section class="h-screen bg-yellow-300 flex items-center justify-center">Section 3</section>
  <section class="h-screen bg-green-400 flex items-center justify-center">Section 4</section>
  <section class="h-screen bg-teal-400 flex items-center justify-center">Section 5</section>
  <section class="h-screen bg-blue-400 flex items-center justify-center">Section 6</section>
  <section class="h-screen bg-indigo-400 flex items-center justify-center">Section 7</section>
  <section class="h-screen bg-purple-400 flex items-center justify-center">Section 8</section>
  <section class="h-screen bg-pink-400 flex items-center justify-center">Section 9</section>
  <section class="h-screen bg-gray-200 flex items-center justify-center">Section 10</section>
  
</main>
</Layout>