---
import Layout from "../layouts/Layout.astro"
import TooltipButton from "@/components/TooltipButton"
import WhatsappButton from "@/components/WhatsappButton"

---

<Layout>
    	<section class="pt-30 bg-gray-50 py-30">
<div class="container mx-auto">

            <h1>Componets</h1>

                  <WhatsappButton client:load />



</div>
        </section>

</Layout>