---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <div class="pt-56"></div>
<div class="pt-16 text-center text-6xl font-bold">
    <h2>Our Services</h2>
</div>
<div class="divider">
    <hr />
</div>
<div class="py-8 text-center text-2xl">
    <p>
        
An overview of the services we offer and how they will benefit you.

    </p>
</div>

<div>
    <section id="architecture" class="pt-36 container mx-auto flex flex-col md:flex-row items-center gap-12 py-20">

 <div class="md:w-1/2 px-20 flex flex-col  gap-6">
 <h2 class=" text-4xl md:text-4xl font-bold leading-relaxed">
     Architecture Services
    </h2>
  <div class="md:text-2xl  flex items-center gap-4">
    
    <span>Our architectural services encompass every phase of building design and development, creating spaces that balance functionality with aesthetic appeal.</span>
  </div>



</div>

    <div class="md:w-1/2 ">
    <img src="https://images.unsplash.com/photo-1503387762-592deb58ef4e?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image">
  </div>
    </section>
     <section id="interior" class="pt-36 container mx-auto flex flex-col md:flex-row items-center gap-12 py-20">

 <div class="md:w-1/2 px-20 flex flex-col  gap-6">
 <h2 class=" text-4xl md:text-4xl font-bold leading-relaxed">
     Interior Design Services

    </h2>
  <div class="md:text-2xl  flex items-center gap-4">
    
    <span>We create cohesive interior spaces that reflect our clients’ vision while maintaining functional excellence.</span>
  </div>



</div>

    <div class="md:w-1/2 ">
    <img src="https://images.unsplash.com/photo-1633109870201-318921e3f992?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image">
  </div>
    </section>
     <section id="pm-services" class="pt-36 container mx-auto flex flex-col md:flex-row items-center gap-12 py-20">

 <div class="md:w-1/2 px-20 flex flex-col  gap-6">
 <h2 class=" text-4xl md:text-4xl font-bold leading-relaxed">
     Project Management Services
    </h2>
  <div class="md:text-2xl  flex items-center gap-4">
    
<span>Our experienced project managers oversee every aspect of your project, ensuring timely completion and budget adherence.</span>
</div>



</div>

    <div class="md:w-1/2 ">
    <img src="https://images.unsplash.com/photo-1617720356637-6264c1c0b4bb?q=80&w=1168&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image">
  </div>
    </section>
     <section id="landscape-design" class="py-36 container mx-auto flex flex-col md:flex-row items-center gap-12 py-20">

 <div class="md:w-1/2 px-20 flex flex-col  gap-6">
 <h2 class=" text-4xl md:text-5xl font-bold leading-relaxed">
     Landscape Design Services 
    </h2>
  <div class="md:text-2xl  flex items-center gap-4">
    
<span>Our landscape design team creates outdoor spaces that complement architectural elements while enhancing environmental sustainability.</span>
</div>



</div>

    <div class="md:w-1/2 ">
    <img src="https://images.unsplash.com/photo-1542621334-a254cf47733d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image">
  </div>
    </section>
</div>
    
</Layout>