---
import "../styles/global.css"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer"
import Icon from "../assets/sp-icon.png"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/sp-icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Spekworks</title>

		
	</head>
	<body>

		
		<Navbar />
		<div class="pt-16"></div>
		<slot  />
	
		<Footer  />

	</body>
</html>
